<div class="chat_window"><div class="top_menu">
  <div class="buttons"><div class="button close"></div>
  <div class="button minimize"></div>
  <div class="button maximize"></div>
</div>
<div class="title">{{title}}</div>
</div>
  <ul class="messages">
    <li class="message" *ngFor= "let message of messages" [class.right]="message.self" [class.left]="!message.self">
      <div class="avatar"></div>
      <div class="text_wrapper">
          <div class="text">
            {{message.text}}
            <pcarousel *ngIf="message.displayCarousel "></pcarousel>
          </div>
      </div>
    </li>
  </ul>

  <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">      
        <input class="message_input"  placeholder="Type message here...." [(ngModel)]="userMessage" (keyup.enter)="reply()"/>        
      </div>
      <div class="send_message">
        <button type="button" class="btn btn-primary" (click)="reply()">Send</button>
      </div>      
  </div>
</div>




